<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for episode in episodes %}
<div>
    <div>
        episode_id : ({{ episode.episode_id}})
        episode_rating : ({{ episode.rating }})
        episode_created_date : ({{ episode.created_date }})
        episode_title : ({{ episode.title }})
        <a href="{{ episode.thumbnail }}">episode.thumbnail</a>
    </div>
</div>
{% endfor %}
</body>
</html>